body{
            margin: 0;
            padding: 0;
            background-image: url('../media/trends.jpeg');
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            overflow: hidden;
            font-family: OCRAStd,monospace;
        }
        a{text-decoration: none;}
        .trendimgdiv{
            width: 90%;
            height: 300px;
            margin-left: 5%;
        }
        .socialimgdiv{
            width: 100%;
            height: 300px;
        }
        .trendimg, .socialimg{
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            display: block;
        }
        .secone{
            width: 100%;
            height: 50px;
            background-color: rgba(250,250,250,0.6);
        }
        .logoandname{
            width: 150px;
            float: left;
        }
        .logoandname img{
            float: left;
        }
        .logoandname h1{
            color: #66CA74;
            float: right;
            line-height: 5px;
        }
        .quote{
            text-align: center;
            line-height: 50px;
            margin-right: 200px;
            color: #66CA74;
        }
        .sectwo{
            background-color: rgba(255, 255, 255, 0.4);
            width: 58%;
            height: 73%;;
            position: absolute;
            left: 17%;
            top: 110px;
            overflow-x: hidden;
            transition: all 0.2s ease;
        }
        .sectwocontainer{
            width: 400%;
            position: absolute;
            left: 0;
            top: 0;
            display: inline-flex;
            transition: all 0.3s ease;
        }
        .gendiv, .sportsdiv, .techdiv, .searchdiv{
            width:100%;
            overflow-y: auto;
        }
        .gentrend, .sportstrend, .techtrend, .searchtrend{
            width: 100%;
            border-bottom: 1px solid darkgreen;
            transition: all 0.2s ease;
        }
        .gentrend h1, .sportstrend h1, .techtrend h1, .searchtrend h1{
            text-align: center;
            color: darkgreen;
            font-family: monospace;
            overflow: hidden;
        }
        .secthree{
            width: 15%;
            height: 73%;
            position: absolute;
            left: 1%;
            top: 110px;
            overflow-y: auto;
            transition: all 0.2s ease;
        }
        .secthree img{
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            display: block;
        }
        .secfour{
            background-color: rgba(255, 255, 255, 0.4);
            width: 23%;
            height: 73%;
            position: absolute;
            left: 76%;
            top: 110px;
            overflow-y: auto;
            transition: all 0.2s ease;
        }
        header{
            width: 100%;
            height: 50px;
            position: absolute;
            left: 0;
            top: 50px;
            line-height: 50px;
            text-align: center;
            background-color: rgba(102, 202, 116, 0.7);
        }
        .socialul{
            float: right;
            margin: auto;
            padding: 0;
            transition: all 0.2s ease;
        }
        #pullbtn{
            visibility: hidden;
        }
        .socialli{
            display: inline-flex;
            margin-right: 15px;
            list-style-type: none;
            text-align: center;
            width: 50px;
            height: 50px;
            background-color: transparent;
            border-radius: 50px;
            transition: all 0.2s ease;
            cursor: pointer;
        }
        .socialli a{
            text-decoration: none;
            width: 50px;
            height: 50px;
            text-align: center;
        }
        .socialli a i{
            color: white;
            font-size: 25px;
            line-height: 50px;
        }
        #facebooklink:hover{
            background-color: #3b5998;
        }
        #twitterlink:hover{
            background-color: #1dcaff;
        }
        #youtubelink:hover{
            background-color: #FF0000;
        }
        .navigation{
            margin: auto;
            display: inline-flex;
            position: absolute;
            left: 46%;
            top: 0;
            transform: translateX(-50%);
        }
        .navul{
            display: inline-flex;
            margin: 0;
            padding: 0;
        }
        .navli{
            display: inline-flex;
            list-style-type: none;
            width: 110px;
            height: 50px;
            background-color: transparent;
            color: white;
            font-family: OCRAStd,monospace;
            margin-left: 10px;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.2s ease;
        }
        .navli span{
            width: 100px;
            text-align: center;
        }
        .navul li:hover{
            border-bottom: 3px solid white;
            height: 47px;
        }
        .searchbox{
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 3px;
            display: inline-flex;
            margin-top: 10px;
            margin-left: 10px;
            transition: all 0.2s ease;
        }
        .searchinput{
            border: none;
            text-align: center;
            font-size: 20px;
            font-family: OCRAStd,monospace;
            background-color: transparent;
            color: white;
            width: 0px;
            height: 30px;
            transition: all 0.2s ease;
        }
        .searchbtn{
            cursor: pointer;
        }
        .searchinput:focus{
            outline: none;
        }
        footer{
            width: 100%;
            height: 50px;
            text-align: center;
            background-color: rgba(102, 202, 116, 0.7);
            color: white;
            font-family: OCRAStd,monospace;
            position:absolute;
            left: 0;
            top: 100%;
            transform: translateY(-50px);
            overflow: hidden;
            line-height: 10px;
        }
        @media(max-width:1000px){
            .secthree{left:-100%;}
            .sectwo{
                left:1%;
                width: 65%;
            }
            .secfour{
                width: 32%;
                left: 67%;
            }
            .socialul{
                width: 30%;
            }
            .navigation{
                left: 32%;
                transform: translateX(-50%);
            }
        }
        @media(max-width:960px){
            .quote{
                margin-right: 0px;
            }
        }
        @media(max-width:800px){
            .secone h1{
                font-size: 20px;
            }
            .quote h1{
                font-size: 17px;
            }
            .logoandname h1{
                line-height: 10px;
            }
            footer h2{font-size: 17px}
        }
        @media(max-width:750px){
            .socialul{
                margin-top: 7px;
            }
            .socialli, .socialli a{
                width: 35px;
                height: 35px;
            }
            .socialli a i{
                line-height: 35px;
            }
        }
        @media(max-width:600px){
            .quote h1{
                font-size: 15px;
            }
            .secfour{
                width: 45%;
                left: 100%;
            }
            .sectwo{
                width: 98%;
            }
            .navigation{
                left: 50%;
                transform: translateX(-50%);
            }
            .socialul{
                width: 50px;
                height: 22%;
                float: none;
                position: fixed;
                left: 100%;
                top: 100px;
                transform: translateX(-100%);
            }
            .socialli {
                display: block;
                margin-top: 20px;
            }
            #facebooklink{
                background-color: rgb(59,89,152,0.5);
            }
            #twitterlink{
                background-color: rgb(29,202,255,0.5);
            }
            #youtubelink{
                background-color: rgb(255,0,0,0.5);
            }
            #pullbtn{
                visibility: visible;
                opacity: 0.5;
            }
            #pullbtn:hover{
                opacity:1;
            }
            .pullbtnimg{
                width: 35px;
                height: 35px;
            }
            .secfour{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        @media(max-width:520px){
            .quote{visibility: hidden;}
        }